.chat-message-text {
    background-color: rgb(238, 238, 238);
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    max-width: 300px;
    color: black;
}

.loading-image {
    height: 40px;
    margin: -15px;
}

.current-date {
    color: rgb(123, 117, 117);
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}

.chat-message-profile {
    width: 45px;
    border-radius: 45px;
    object-fit: cover;
}

.chat-message-user {
    display: flex;
    justify-content: end;
    align-items: start;
}

.chat-message-robot {
    display: flex;
    align-items: start;
}